/zuul-gateway/zuul-gateway-1.0.jar
/c1-club/.vscode
/c1-club/target
/c-student/target
/c-student/.vscode
/d-score/.vscode
/d-score/target
/e-school/.vscode
/e-school/target
/eureka-server/.vscode
/eureka-server/target
/f-teacher/target
/f-teacher/.vscode
/zuul-gateway/.vscode
/zuul-gateway/target
